{% extends 'core/base.html' %}
{% load static %}

{% block title %}Smartbook home {% endblock title %}

{% block active_home %} active {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock %}

{% block content %}   
    
    <section class="hero-section">
        <h1 class="title">Book the service. <br>Skip the waiting</h1>
        <p class="title-par">Find and book trusted service providers around you in just a few taps</p>
        <div class="search-bar">
            <label for="search"></label>
            <input  type="search" placeholder="search for a business or a service">
            <select name="location" id="location">
                <option value="Nairobi">Nairobi, Kenya</option>
                <option value="Nairobi">Kiambu, Kenya</option>
                <option value="Nairobi">Nakuru, Kenya</option>
                <option value="Nairobi">Mombasa, Kenya</option>
            </select>
            <button class="search-btn">Search</button>
        </div>
    </section>
    <section class="popular-categories">
        <h2>Popular categories</h2>
        <div class="popular-categories-div">
            <div class="cat-div">
                <a href="" class="icon">
                    <i data-lucide="scissors"></i>
                </a>
                <p>Barbers</p>
            </div>
            <div class="cat-div">
                <a href="" class="icon">
                    <i data-lucide="scissors"></i>
                </a>
                <p>Salons</p>
            </div>
            <div class="cat-div">
                <a href="" class="icon">
                    <i data-lucide="car-front"></i>
                </a>
                <p>Car Wash</p>
            </div>
            <div class="cat-div">
                <a href="" class="icon">
                    <i data-lucide="dumbbell"></i>
                </a>
                <p>Gym</p>
            </div>
            <div class="cat-div">
                <a href="" class="icon">
                    <i data-lucide="ambulance"></i>
                </a>
                <p>Clinics</p>
            </div>
            <div class="cat-div">
                <a href="" class="icon">
                    <i data-lucide="camera"></i>
                </a>
                <p>photography</p>
            </div>
            <div class="more">
                <a href="/frontend/businesses.html" class="icon-more">
                    <i data-lucide="ellipsis"></i>
                </a>
                <p>More</p>
            </div>
        </div>
    </section>
    <section class="featured-businesses">
        <h2>Featured Businesses</h2>
        <div class="businesses-div">
            <div class="business-card">
                <div class="image">
                    <img src="{% static 'core/images/barber photo 2.jpg' %}" alt="barber shop">
                </div>
                <div class="content">
                    <h3>Max Cuts Barber</h3>
                    <div class="star-content">
                        <i data-lucide="star"></i>
                        <b>4.8</b>
                    </div>
                    <div class="location-content">
                        <i data-lucide="map-pin"></i>
                        <p>Nairobi, Kenya</p>
                    </div>
                    <p>From Ksh.300</p> <br>
                    <a href="" class="view-bs-btn">View Business</a>
                </div>
            </div>
            <div class="business-card">
                <div class="image">
                    <img src="{% static 'core/images/salon photo.jpg' %}" alt="salon">
                </div>
                <div class="content">
                    <h3>Glamour Salon</h3>
                    <div class="star-content">
                        <i data-lucide="star"></i>
                        <b>4.7</b>
                    </div>
                    <div class="location-content">
                        <i data-lucide="map-pin"></i>
                        <p>Nairobi, Kenya</p>
                    </div>
                    <p class="price">From Ksh.500</p> <br>
                    <a href="" class="view-bs-btn">View Business</a>
                </div>
            </div>
            <div class="business-card">
                <div class="image">
                    <img src="{% static 'core/images/car wash photo.jpg' %}" alt="car-wash">
                </div>
                <div class="content">
                    <h3>Sparkle Car Wash</h3>
                    <div class="star-content">
                        <i data-lucide="star"></i>
                        <b>4.6</b>
                    </div>
                    <div class="location-content">
                        <i data-lucide="map-pin"></i>
                        <p>Nairobi, Kenya</p>
                    </div>
                    <p>From Ksh.400</p> <br>
                    <a href="" class="view-bs-btn">View Business</a>
                </div>
            </div>
            <div class="business-card">
                <div class="image">
                    <img src="{% static 'core/images/gym photo.jpg' %}" alt="gym">
                </div>
                <div class="content">
                    <h3>Fit Life Gym</h3>
                    <div class="star-content">
                        <i data-lucide="star"></i>
                        <b>4.9</b>
                    </div>
                    <div class="location-content">
                        <i data-lucide="map-pin"></i>
                        <p>Nairobi, Kenya</p>
                    </div>
                    <p>From Ksh.1500</p> <br>
                    <a href="" class="view-bs-btn">View Business</a>
                </div>
            </div>
        </div>
        
    </section>
    <section class="how-it-works">
        <h2>How SmartBook works</h2>
        <div class="step-search">
            <i data-lucide="search"></i><br>
            <b>01 <span>search</span></b>
            <p>Find the service or business you need</p>
        </div>
        <div class="step-choose">
            <i data-lucide="shopping-cart"></i><br>
            <b>02 <span>Choose</span></b>
            <p>Pick a provider, select a service and available time.</p>
        </div>
        <div class="step-book">
            <i data-lucide="calendar_check"></i><br>
            <b>02 <span>Book</span></b>
            <p>Confirm your booking and you`re all set</p>
        </div>
    </section>
    <section class="ad">
        <div class="ad-info">
            <h3>Own a service business?</h3>
            <p>Join SmartBook and start receiving bookings from thousands of customers.</p>
            <a href="/frontend/list-your-business.html">List Your business</a>
        </div>
    </section>
    

{% endblock content %}

